#sidebar {
    width: 80px;
    height: 500px;
    float: left;
}

#play {
    margin-top: 128px;
    cursor: pointer;
}

.cell {
    width: 77px;
    height: 17px;
}

.moused {
    background-color: rgb(255,150,150);
}

.column {
    width: 75px;
    float: left;
}

.note {
    margin-top: -105px;
    margin-left: 17px;
}

.note-label {
    color: rgb(193,255,76);
    font-weight: bold;
    margin-top: -25px;
    margin-left: 30px;
    cursor: default;
}

#notes {
    width: 500px;
}

table#notes tr th {
    text-align: left;
}

.playing td {
    background-color: rgb(193,255,76);
}

#treble {
    background-image: url(/images/treble.png);
    background-repeat: no-repeat;
    width: 3750px;
    height: 248px;
    margin-left: 125px;
    padding-top: 46px;
    padding-left: 120px;
}

#base {
    background-image: url(/images/base.png);
    background-repeat: no-repeat;
    width: 1084px;
    height: 138px;
    margin-left: 125px;
    margin-top: 50px;
}
